.scroll-to-top {
  width: 45px;
  height: 45px;
  position: fixed;
  bottom: 40px;
  right: 30px;
  padding: 12px 16px;
  font-size: 20px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  z-index: 999;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
}

.scroll-to-top:hover {
  background-color: #263781;
  transform: scale(1.2);
  opacity: 1;
}

.scroll-to-top img {
  width: 24px;
  height: 24px;
}
