html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* Disable text selection */
body,
.your-container {
  user-select: none; /* Prevents selecting text */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE/Edge */
}

body {
  font-family: "Poppins", sans-serif;
}

main {
  flex: 1;
}

html {
  scroll-behavior: smooth;
}
#root {
  flex: 1;
  display: flex;
  flex-direction: column;
}

footer {
  background: #0d1117;
  color: white;
  text-align: center;
  padding: 20px;
}

.container {
  width: 80%;
  margin: 0 auto;
}

section {
  padding: 50px 0;
}

h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
}
