.skills {
  background-color: #f4f4f4;
}

.skills ul {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.skills li {
  font-size: 1.2rem;
  padding: 10px 20px;
  background-color: #333;
  color: white;
  border-radius: 5px;
}
